
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    
    function isParticipant(conversationId) {
      return isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantIds;
    }

    match /users/{userId} {
      allow read;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
    }

    match /notifications/{notificationId} {
      allow read: if isSignedIn() && resource.data.recipientId == request.auth.uid;
      allow write: if isSignedIn();
    }
    
    match /conversations/{conversationId} {
      allow read, write: if isParticipant(conversationId);
    }
    
    match /conversations/{conversationId}/messages/{messageId} {
       allow read, write: if isParticipant(conversationId);
       allow create: if isParticipant(conversationId) && request.resource.data.senderId == request.auth.uid;
    }
  }
}
